<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="templates" style="display: none">
			<template class="videoOverlay">
				<div class="videoOverlay">
					<div class="videos">
						<video></video>
					</div>
					<div class="videoControls">
						<div class="top">
							<div class="closeButton">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
							</div>
						</div>
						<div class="bottom">
							<div class="playerButtons">
								<div class="toggleButtons">
									<button class="playButton">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
									</button>
									<button class="pauseButton">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pause"><rect x="6" y="4" width="4" height="16"></rect><rect x="14" y="4" width="4" height="16"></rect></svg>
									</button>
								</div>
							</div>
							<div class="progress">
								<div class="startTime">
									00:00
								</div>
								<div class="progressBar">
									<div class="bar">
										<div class="dot"></div>
									</div>
								</div>
								<div class="endTime">
									00:00
								</div>
							</div>
						</div>
					</div>
				</div>
			</template>
		</div>
		<header>
			<div class="body">
				Hallo
			</div>
		</header>
		{{{ body }}}
	</body>
</html>