<div class="templates" style="display: none;">
	<template class="episodeItem">
		<div class="episodeItem">
			<div class="episodeImage">
				<img class="thumbnailImg" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
				<button class="playButton">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
				</button>
			</div>
			<div class="episodeInfo">
				<h3 class="episodeTitle">Episode title</h3>
				<p class="episodeDescription"></p>
			</div>
		</div>
	</template>
</div>
<div class="bodyWrapper">
	<div class="body">
		<div class="banner">
			<img alt="" class="bannerImage" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
		</div>
		<div class="showLayout">
			<aside class="showInfo">
				<img alt="Show's poster" class="showPoster" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
			</aside>
			<section class="showCore unloaded">
				<div class="info coreInfo">
					<h2 class="showTitle"></h2>
					<p class="showDescription"></p>
				</div>
				<div class="episodes">
					<h3 class="title">Episodes</h3>
					<div class="allEpisodes episodeList">
						
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<script src="/js/video.js"></script>
<script src="/js/show.js"></script>